body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

#title {
	font: 2em;
	margin-bottom: 30px;
}

h1 {
	margin: auto;
	text-align: center;
}

label {
	text-align: left;
}

md-input-container {
	margin: 0px;
}
